{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <h1>Vehicles</h1>
    {% for message in messages %}
     <div {% if message.tags %} class="alert alert-success {{ message.tags }}" role="alert">{{ message }} </div>
    {% endif %}
    {% endfor %}

<div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="border-0">Vehicle Code</th>
      </tr>
    </thead>
    <tbody>


    {% for vehicle in object_list %}
      <tr>
	<td><span class="font-weight-normal">{{vehicle.vehicle_id}}</span></td>
     </tr>
    {% endfor %}
    </tbody>
  </table>
 </div>
</div>
{% endblock %}
